# Visual Studio / .NET Core
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.idea/
.idea

UML/

# Local Data / Secrets
Data/settings.json
Data/mods.json

# Profiling / Logs
*.log
*.err
TestResults/
